<p>
  ¿Estás realmente seguro de que deseas eliminar tu cuenta
  <strong>permanentemente</strong> de Social-chan?
</p>

<div class="text-right">
  <button class="bg-red-dark hover:bg-red-darker text-white font-bold py-2 px-4 rounded">
    Eliminar
  </button>
</div>