<nav class="bg-indigo-dark p-3 z-50">
  <div class="container flex items-center justify-between mx-auto">
    <div class="block md:hidden">
      <button class="text-white">
        <svg class="fill-current w-6 h-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
        </svg>
      </button>
    </div>
    <div class="flex items-center flex-no-shrink">
      {{#link-to 'index'}}
        <svg id="logo" class="fill-current text-grey-dark bg-white w-8 mr-0 md:mr-6" viewBox="0 0 21170 21169.98" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h21170v12770.98c-2470-1297-5749-680-7282 1473-1227 1725-1556 4343-1075 6926h-1589c1095-2821 429-5115-1432-6606-1283-1028-3047-1732-4512-2448-750-366-1397-785-1913-1149-1598-1129-1800-3480.99-354-4694.98 1066-910 2836-850 4032-559 1493 365 2609 1333 3010 1321 657-50 424-2125 278-2299-100-120-154-216-251-280-2270-1459-5158-1569-7343-816C1583 4087 791 4602 0 5734zm8056 21169.98H0v-9476c835 1455 2818 2499 4474 3221 2989 1304 5470 2817 3582 6255zm13114-6145v6145h-5914c-365-1450-417-3851 278-5308 847-1773 2924-2705 5636-837z"/>
        </svg>
      {{/link-to}}
    </div>
    <div class="hidden md:flex md:items-center lg:w-auto">
      {{!-- <div class="flex text-sm">
        <a href="#" class="no-underline block mt-4 lg:inline-block text-base lg:mt-0 text-indigo-lighter hover:text-white mr-4">
          Inicio
        </a>
      </div> --}}
      {{#if session.isAuthenticated}}
        {{#link-to 'user' session.user.id class="no-underline bg-indigo-darker text-white rounded-full flex items-center py-2 px-2 mx-2"}}
          <img class="w-6 h-6 rounded-full mr-2" src="{{ session.user.profile.avatar }}" alt="">
          <span class="mr-1 text-sm">
            {{ session.user.nickname }}
          </span>
        {{/link-to}}
        <button {{action 'logout'}} class="bg-indigo-darker text-white rounded-full flex items-center py-3 px-3">
          <i class="fas fa-sign-out-alt"></i>
        </button>
      {{else}}
        {{#link-to 'login' class="bg-indigo-darker text-white font-bold py-2 px-4 rounded ml-3"}}
          Acceder
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</nav>