<button {{action 'toggleKokoro' post.id}} class="bg-indigo-dark hover:bg-indigo-darker rounded-full p-3 ml-3">
  {{#if isKokored}}
    <i class="fas fa-heart fa-lg fill-current text-red"></i>
  {{else}}
    <i class="far fa-heart fa-lg fill-current text-white"></i>
  {{/if}}
</button>
