<div class="overflow-hidden bg-indigo-darker text-white flex-none w-64 z-40 hidden md:block h-full">
  {{#if (eq activeSection "monitor")}}
    <div class="flex justify-between p-4">
      <div class="flex-auto">
        <h1 class="font-semibold text-xl leading-tight truncate">
          Notificaciones
        </h1>
      </div>
      <div class="opacity-25">
        <i class="far fa-bell fa-lg"></i>
      </div>
    </div>

    <ul class="list-reset border-t border-indigo-dark text-sm mt-4">
      <li class="cursor-pointer border-b border-indigo-dark hover:bg-indigo-dark truncate py-2 px-4">
        <i class="fas fa-eye mr-1"></i> @d8vjork ha empezado a seguirte
      </li>
      <li class="cursor-pointer border-b border-indigo-dark hover:bg-indigo-dark truncate py-2 px-4">
        <i class="fas fa-eye mr-1"></i> @gabrielpb1 ha empezado a seguirte
      </li>
      <li class="cursor-pointer border-b border-indigo-dark hover:bg-indigo-dark truncate py-2 px-4">
        <i class="fas fa-comment mr-1"></i> @d8vjork ha comentado tu publicación
      </li>
    </ul>
  {{else if (eq activeSection "anime")}}
    {{#link-to 'anime' class="flex justify-between no-underline text-white p-4"}}
      <div class="flex-auto">
        <h1 class="font-semibold text-xl leading-tight truncate">
          Anime
        </h1>
      </div>
      <div class="opacity-25">
        <i class="far fa-share-square fa-lg"></i>
      </div>
    {{/link-to}}
    <div class="px-4">
      <input class="appearance-none w-full bg-grey-lighter text-indigo-darkest border border-indigo-darkest rounded py-2 px-3 mb-4" type="text" placeholder="Buscar anime">
    </div>

    <div class="mb-4 p-4">
      <div class="flex justify-between items-center mb-3">
        <div class="text-grey-light text-lg">
          Vistos recientemente
        </div>
        <i class="fas fa-history text-grey-light"></i>
      </div>
      <ul class="list-reset">
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Steins;gate
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Steins;gate 0
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Sword Art Online
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Love Live School Idol Project
          </a>
        </li>
      </ul>
    </div>
  {{else if (eq activeSection "manga")}}
    {{#link-to 'manga' class="flex justify-between no-underline text-white p-4"}}
      <div class="flex-auto">
        <h1 class="font-semibold text-xl leading-tight truncate">
          Manga
        </h1>
      </div>
      <div class="opacity-25">
        <i class="far fa-share-square fa-lg"></i>
      </div>
    {{/link-to}}
    <div class="px-4">
      <input class="appearance-none w-full bg-grey-lighter text-indigo-darkest border border-indigo-darkest rounded py-2 px-3 mb-4" type="text" placeholder="Buscar manga">
    </div>

    <div class="mb-4 p-4">
      <div class="flex justify-between items-center mb-3">
        <div class="text-grey-light text-lg">
          Vistos recientemente
        </div>
        <i class="fas fa-history text-grey-light"></i>
      </div>
      <ul class="list-reset">
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Steins;gate
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Steins;gate 0
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Sword Art Online
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Love Live School Idol Project
          </a>
        </li>
      </ul>
    </div>
  {{else if (eq activeSection "music")}}
    {{#link-to 'music' class="flex justify-between no-underline text-white p-4"}}
      <div class="flex-auto">
        <h1 class="font-semibold text-xl leading-tight truncate">
          Música
        </h1>
      </div>
      <div class="opacity-25">
        <i class="far fa-share-square fa-lg"></i>
      </div>
    {{/link-to}}
    <div class="px-4">
      <input class="appearance-none w-full bg-grey-lighter text-indigo-darkest border border-indigo-darkest rounded py-2 px-3 mb-4" type="text" placeholder="Buscar música">
    </div>

    <div class="mb-4 p-4">
      <div class="flex justify-between items-center mb-3">
        <div class="text-grey-light text-lg">
          Vistos recientemente
        </div>
        <i class="fas fa-history text-grey-light"></i>
      </div>
      <ul class="list-reset">
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Steins;gate
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Steins;gate 0
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Sword Art Online
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Love Live School Idol Project
          </a>
        </li>
      </ul>
    </div>
  {{else if (eq activeSection "share")}}
    <div class="flex justify-between p-4">
      <div class="flex-auto">
        <h1 class="font-semibold text-xl leading-tight truncate">
          Publicar
        </h1>
      </div>
      <div class="opacity-25">
        <i class="fas fa-upload fa-lg"></i>
      </div>
    </div>
    <div class="px-4">
      <textarea class="appearance-none w-full bg-grey-lighter border border-indigo-darkest text-indigo-darkest rounded py-2 px-3 mb-4" rows="6" placeholder="Escribe lo que quieras publicar"></textarea>
    </div>

    <div class="mb-4 p-4">
      <div class="flex justify-between items-center mb-3">
        <div class="text-grey-light text-lg">
          Publicar en
        </div>
        <i class="fas fa-users text-grey-light"></i>
      </div>
      <ul class="flex list-reset">
        <li>
          <a href="#">
            <img class="w-10 h-10 border border-indigo rounded-full mr-3" src="/img/user_default.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="w-10 h-10 rounded-full mr-3" src="/img/user_default.jpg" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="px-4">
      <button class="bg-indigo w-full text-white border-b-4 border-indigo-dark rounded font-semibold px-1 py-2">
        Enviar
      </button>
    </div>
  {{/if}}
</div>