<div class="bg-grey-light border-b-8 border-blue pt-8 pb-4 px-3">
  <ul class="flex items-center justify-center list-reset">
    <li class="px-2">
      <a href="#" class="no-underline  text-blue-dark">
        Reportar bug
      </a>
    </li>
    <li class="px-2">
      <a href="#" class="no-underline  text-blue-dark">
        Desarrolladores
      </a>
    </li>
    <li class="px-2">
      <a href="#" class="no-underline  text-blue-dark">
        Contacto
      </a>
    </li>
    <li class="px-2">
      <a href="#" class="no-underline text-blue-dark">
        Acerca de
      </a>
    </li>
  </ul>
</div>