<!-- Sidebar / realtime -->
<div class="bg-indigo-darkest flex-none p-4 h-full select-none scrolling-auto overflow-auto z-50 hidden md:block">
  {{#link-to 'user' class="block opacity-75 no-underline mb-4"}}
    <div class="bg-white h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <img src="{{ currentUser.data.profile.avatar }}" alt="">
    </div>
    <div class="text-center text-white text-sm">
      Perfil
    </div>
  {{/link-to}}
  <div class="cursor-pointer mb-4">
    <div class="bg-indigo-lightest opacity-75 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full overflow-hidden">
      <img src="/img/user_default.jpg" alt="">
    </div>
  </div>
  <div class="cursor-pointer mb-4">
    <div class="bg-indigo-lightest opacity-75 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full overflow-hidden">
      <img src="/img/user_default.jpg" alt="">
    </div>
  </div>
  <div class="cursor-pointer">
    <div class="bg-white opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</div>