<!-- Sidebar / realtime -->
<div class="bg-indigo-darkest text-purple-lighter flex-none p-4 h-full hidden md:block">
  <div class="cursor-pointer block opacity-50 no-underline mb-4">
    <div class="bg-indigo-lightest h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-bell"></i>
    </div>
    <div class="text-center text-white text-sm">Monitor</div>
  </div>
  <div class="cursor-pointer mb-4">
    <div class="bg-indigo-lightest opacity-50 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <img src="img/user_default.jpg" alt="">
    </div>
    <div class="text-center text-white truncate opacity-50 text-sm">Offline</div>
  </div>
  <div class="cursor-pointer mb-4">
    <div class="bg-indigo-lightest opacity-75 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <img src="img/user_default.jpg" alt="">
    </div>
    <div class="text-center text-white truncate opacity-75 text-sm">Online</div>
  </div>
  <div class="cursor-pointer">
    <div class="bg-white opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</div>