<!-- Sidebar / user actions -->
<div class="bg-indigo-darkest text-purple-lighter flex-none p-4 h-full hidden md:block">
  {{#link-to 'user' class="block cursor-pointer no-underline mb-4"}}
    <div class="bg-white h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <img src="img/user_default.jpg" alt="">
    </div>
    <div class="text-center text-white opacity-50 text-sm">Perfil</div>
  {{/link-to}}
  {{#link-to 'feed' class="block cursor-pointer no-underline mb-4"}}
    <div class="bg-indigo-lightest opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="far fa-comments"></i>
    </div>
    <div class="text-center text-white opacity-50 text-sm">Muro</div>
  {{/link-to}}
  {{#link-to 'groups' class="block cursor-pointer no-underline mb-4"}}
    <div class="bg-indigo-lightest opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-users"></i>
    </div>
    <div class="text-center text-white opacity-50 text-sm">Grupos</div>
  {{/link-to}}
  {{#link-to 'anime' class="block cursor-pointer no-underline mb-4"}}
    <div class="bg-indigo-lightest opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-film"></i>
    </div>
    <div class="text-center text-white opacity-50 text-sm">Anime</div>
  {{/link-to}}
  {{#link-to 'manga' class="block cursor-pointer no-underline mb-4"}}
    <div class="bg-indigo-lightest opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-book"></i>
    </div>
    <div class="text-center text-white opacity-50 text-sm">Manga</div>
  {{/link-to}}
  {{#link-to 'music' class="block cursor-pointer no-underline mb-4"}}
    <div class="bg-indigo-lightest opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-music"></i>
    </div>
    <div class="text-center text-white opacity-50 text-sm">Música</div>
  {{/link-to}}
  {{#link-to 'list' class="block cursor-pointer no-underline mb-4"}}
    <div class="bg-indigo-lightest opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="far fa-bookmark"></i>
    </div>
    <div class="text-center text-white opacity-50 text-sm">Listas</div>
  {{/link-to}}
  {{#link-to 'settings' class="block cursor-pointer no-underline mb-4"}}
    <div class="bg-indigo-lightest opacity-25 h-12 w-12 flex items-center justify-center text-black text-2xl font-semibold rounded-full mb-1 overflow-hidden">
      <i class="fas fa-cogs"></i>
    </div>
    <div class="text-center text-white opacity-50 text-sm">Ajustes</div>
  {{/link-to}}
</div>