{{!-- <div class="flex items-center bg-indigo-dark hover:bg-indigo w-64 rounded-t shadow-inner text-white text-sm py-2 px-4 cursor-pointer">
  <span class="w-8 h-8 fa-layers mr-3">
    <img class="rounded-full" src="/img/user_default.jpg" alt="">
    <i class="fa fa-circle fa-inverse" data-fa-transform="shrink-1 down-12 right-10"></i>
    <i class="fa fa-circle fa-sm text-green fill-current" data-fa-transform="shrink-2 down-13 right-11"></i>
  </span>
  <div>
    Global Test
    <span class="block text-xs">
      online
    </span>
  </div>
</div> --}}
<div class="w-16 h-16 cursor-pointer bg-indigo rounded-full p-1">
  <img class="rounded-full" src="/img/user_default.jpg" alt="">
</div>
{{yield}}