<div class="overflow-hidden bg-indigo-darker text-purple-lighter flex-none w-64 hidden md:block h-full">
  <div class="p-4">
    {{#link-to 'anime' class="flex justify-between no-underline text-white"}}
      <div class="flex-auto">
        <h1 class="font-semibold text-xl leading-tight mb-3 truncate">
          Anime
        </h1>
      </div>
      <div>
        <i class="far fa-share-square"></i>
      </div>
    {{/link-to}}
    <input class="appearance-none block w-full bg-grey-lighter text-indigo-darkest border border-indigo-darkest rounded py-2 px-3 mb-6" type="text" placeholder="Buscar anime">

    <div class="mb-8">
      <div class="text-white flex justify-between items-center mb-3">
        <div class="text-grey-light text-lg">
          Vistos recientemente
        </div>
        <i class="fas fa-history text-grey-light"></i>
      </div>
      <ul class="list-reset">
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Steins;gate
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Steins;gate 0
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Sword Art Online
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="no-underline text-grey-light hover:text-white">
            Love Live School Idol Project
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>