<div class="bg-white border border-grey-light rounded shadow flex flex-col justify-between leading-normal p-4 mb-3">
  <div class="mb-8">
    <p class="text-sm text-grey-dark flex items-center">
      <i class="fas fa-comment-alt mr-2"></i>
      Ha creado una <a href="#" class="no-underline font-medium text-grey-dark ml-1">publicación</a>
    </p>
    <p class="text-grey-darker text-base mt-2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium impedit, soluta fuga quisquam iusto numquam
      dolore deserunt saepe! Vel aut ut quisquam delectus fugiat, necessitatibus corporis atque cupiditate et veritatis?
      Iure, sapiente dolorem quidem odit rem voluptas perspiciatis...
    </p>
  </div>
  <div class="inline-flex items-center">
    <img class="w-10 h-10 rounded-full mr-3" src="img/user_default.jpg" alt="">
    <div class="text-sm">
      <p class="text-black leading-none">jdoe</p>
      <p class="text-grey-dark">hace 10 horas</p>
    </div>
  </div>
</div>