<div class="flex items-center bg-indigo-dark hover:bg-indigo w-64 rounded-t shadow-inner text-white text-sm py-2 px-4 cursor-pointer">
  <div class="w-8 h-8 border-2 border-blue rounded-full mr-2 p-px">
    <img class="rounded-full" src="img/user_default.jpg" alt="">
  </div>
  <div>
    Global Test
    <span class="block text-xs">
      online
    </span>
  </div>
</div>
{{yield}}