<div class="bg-white rounded shadow mb-4">
  <div class="flex flex-no-wrap justify-end bg-white rounded-t h-3 pr-4">
    <button class="self-center shadow bg-white rounded-full text-indigo-darker text-sm p-2">
      <i class="fas fa-comment-alt"></i>
    </button>
    {{#link-to 'settings' class="no-underline self-center shadow bg-white rounded-full text-indigo-darker text-sm p-2 ml-2"}}
      <i class="fas fa-cog"></i>
    {{/link-to}}
    {{#if session.isAuthenticated}}
      <button {{action 'logout'}} class="self-center shadow bg-white rounded-full text-indigo-darker text-sm p-2">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    {{/if}}
  </div>
  <div class="flex py-8 bg-cover bg-no-repeat" style="background-image:url('img/landing/img02.jpg')">
    <div class="w-full lg:w-1/4 text-center">
      <img class="w-32 rounded-full" src="{{model.profile.avatar}}">
    </div>
  </div>
  <div class="flex items-center bg-white rounded-b">
    <div class="w-1/4 text-indigo-darker text-lg text-center hidden lg:block">
      @{{model.nickname}}
    </div>
    <ul class="w-full lg:w-3/4 flex select-none scrolling-touch overflow-auto list-reset px-2">
      <li class="cursor-pointer border-b-2 text-indigo-darker border-transparent hover:border-indigo-darker py-3 px-2">
        Muro
      </li>
      <li class="cursor-pointer border-b-2 text-indigo-darker border-transparent hover:border-indigo-darker py-3 px-2">
        Grupos
      </li>
      <li class="cursor-pointer border-b-2 text-indigo-darker border-transparent hover:border-indigo-darker py-3 px-2">
        Seguidores
      </li>
      <li class="cursor-pointer border-b-2 text-indigo-darker border-transparent hover:border-indigo-darker py-3 px-2">
        Siguiendo
      </li>
      <li class="cursor-pointer border-b-2 text-indigo-darker border-transparent hover:border-indigo-darker py-3 px-2">
        Anime
      </li>
      <li class="cursor-pointer border-b-2 text-indigo-darker border-transparent hover:border-indigo-darker py-3 px-2">
        Manga
      </li>
    </ul>
  </div>
</div>

{{yield}}