<button {{action "toggleKokoro" post.id}} class="bg-indigo-dark hover:bg-indigo-darker rounded-full p-3 ml-3">
  <i class="fill-current {{if isKokored "fas text-red" "far text-white"}} fa-heart fa-lg"></i>
</button>
