<div class="container mx-auto px-4 mt-4">
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/4 mb-4 md:mb-0 md:pr-4">
            <div class="bg-white shadow rounded mb-6">
                <div class="p-4">
                    <p class="text-lg text-indigo-darkest font-bold mb-2">
                        <i class="fas fa-filter"></i>
                        Filtrar por
                    </p>
                </div>

                <div class="bg-grey-lighter rounded-b">
                    <p class="uppercase font-semibold tracking-wide p-4">
                        Género
                    </p>
                    <div class="flex flex-wrap items-center text-sm">
                        {{#each model.genres as |genre|}}
                            <a href="#" class="m-1">
                                {{genre.name}}
                            </a>
                        {{/each}}
                    </div>

                    <p class="uppercase font-semibold tracking-wide p-4">
                        Temporada
                    </p>
                    <a href="#" class="flex border-l-4 border-transparent hover:border-indigo px-4 py-2 text-lg text-grey-darkest">
                        <i class="fab fa-pagelines mr-3"></i>
                        Primavera
                    </a>
                    <a href="#" class="flex border-l-4 border-transparent hover:border-indigo px-4 py-2 text-lg text-grey-darkest">
                        <i class="fas fa-sun mr-3"></i>
                        Verano
                    </a>
                    <a href="#" class="flex border-l-4 border-transparent hover:border-indigo px-4 py-2 text-lg text-grey-darkest">
                        <i class="fas fa-leaf mr-3"></i>
                        Otoño
                    </a>
                    <a href="#" class="flex border-l-4 border-transparent hover:border-indigo px-4 py-2 text-lg text-grey-darkest">
                        <i class="fas fa-snowflake mr-3"></i>
                        Invierno
                    </a>

                    <p class="uppercase font-semibold tracking-wide p-4">
                        Estado
                    </p>
                    <a href="#" class="flex border-l-4 border-transparent hover:border-indigo px-4 py-2 text-lg text-grey-darkest">
                        Planificado
                    </a>
                    <a href="#" class="flex border-l-4 border-transparent hover:border-indigo px-4 py-2 text-lg text-grey-darkest">
                        En emisión
                    </a>
                    <a href="#" class="flex border-l-4 border-transparent hover:border-indigo px-4 py-2 text-lg text-grey-darkest">
                        Finalizado
                    </a>
                </div>
            </div>
        </div>
        <div class="w-full md:w-3/4 bg-white rounded shadow p-4">
        <div class="flex justify-between items-center">
            <button class="bg-green-dark text-white rounded p-2">
                <i class="fas fa-plus fa-fw"></i>
                Contribuir
            </button>

            <div class="flex">
                <button class="bg-indigo-darker text-white rounded-l shadow-inner p-2">
                    <i class="fas fa-th"></i>
                </button>
                <button class="bg-indigo-dark text-white rounded-r p-2">
                    <i class="fas fa-th-list"></i>
                </button>
            </div>
        </div>
      <div class="flex flex-wrap mt-3">
        {{#each model.animes as |anime|}}
          <div class="w-1/3 lg:w-1/6 mb-2 px-1">
            {{#link-to 'anime.show' anime.id class="block bg-red rounded overflow-hidden"}}
              <img class="w-full" src="{{anime.image}}" alt="">
            {{/link-to}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>