<ul class="fixed pin-x pin-b flex items-center md:justify-center border-b-8 border-indigo list-reset overflow-auto scrolling-touch pb-4 px-3">
  <li class="px-2">
    <a href="https://dojo.moe" target="_blank">
      Dojo
    </a>
  </li>
  <li class="px-2">
    {{#link-to 'page.subscribe'}}
      Suscripción
    {{/link-to}}
  </li>
  <li class="px-2">
    <a href="https://devs.social-chan.com" target="_blank">
      Desarrolladores
    </a>
  </li>
  <li class="px-2">
    {{#link-to 'page.cookies'}}
      Cookies
    {{/link-to}}
  </li>
  <li class="px-2">
    {{#link-to 'page.policies'}}
      Condiciones
    {{/link-to}}
  </li>
  <li class="px-2">
    {{#link-to 'page.contact'}}
      Contacto
    {{/link-to}}
  </li>
  <li class="px-2">
    {{#link-to 'page.about'}}
      Acerca
    {{/link-to}}
  </li>
</ul>