<div class="bg-white rounded shadow mb-4">
  <div class="flex flex-no-wrap justify-end bg-white rounded-t h-3 pr-4">
    {{#if group.is_member}}
      <button class="self-center shadow bg-white rounded-full text-indigo-darker text-sm p-2">
        <i class="fas fa-comment-alt"></i>
      </button>
    {{else}}
      <button class="self-center shadow bg-white rounded-full text-indigo-darker text-sm p-2 ml-2">
        <i class="fas fa-flag"></i>
      </button>
    {{/if}}
  </div>
  <div class="flex py-8 bg-grey bg-cover bg-no-repeat" style={{bg-image group.cover}}>
    <div class="w-full lg:w-1/4 text-center">
      <img class="w-32 h-32 bg-grey border-2 border-white rounded-full shadow" src={{group.image}} alt="">
    </div>
  </div>
  <div class="flex items-center bg-white rounded-b">
    <div class="w-1/4 text-indigo-darker truncate text-lg hidden lg:flex items-center justify-center">
      {{group.name}}
    </div>
    <ul class="w-full lg:w-3/4 flex select-none scrolling-touch overflow-auto list-reset px-2">
      {{#link-to "group.show.posts" class="border-b-2 border-transparent hover:border-indigo-darker text-indigo-darker py-3 px-2" activeClass="border-indigo-darker"}}
        Muro
      {{/link-to}}
      {{#link-to "group.show.members" class="border-b-2 border-transparent hover:border-indigo-darker text-indigo-darker py-3 px-2" activeClass="border-indigo-darker"}}
        Miembros
      {{/link-to}}
      {{#link-to "group.show.settings" class="border-b-2 border-transparent hover:border-indigo-darker text-indigo-darker py-3 px-2" activeClass="border-indigo-darker"}}
        Ajustes
      {{/link-to}}
    </ul>
  </div>
</div>