<div class="overflow-hidden bg-indigo-darker text-white flex-none w-64 z-40 hidden md:block h-full">
  {{#if (eq activeSection "monitor")}}
    {{layout/sidebar-monitor}}
  {{else if (eq activeSection "search")}}
    {{layout/sidebar-search}}
  {{/if}}
</div>
