<div class="flex justify-between p-4">
  <div class="flex-auto">
    <h1 class="font-semibold text-xl leading-tight truncate">
      Buscar
    </h1>
  </div>
  <div class="opacity-25">
    <i class="fas fa-search fa-lg"></i>
  </div>
</div>
<div class="px-4">
  <input
    class="appearance-none w-full bg-grey-lighter text-indigo-darkest border border-indigo-darkest rounded py-2 px-3 mb-4"
    type="text" placeholder="Buscar por...">
</div>

<div class="mb-4 p-4">
  <div class="flex justify-between items-center mb-3">
    <div class="text-grey-light text-lg">
      Visto recientemente
    </div>
    <i class="fas fa-history text-grey-light"></i>
  </div>
  <ul class="list-reset">
    <li class="mb-2">
      <a href="#" class="no-underline text-grey-light hover:text-white">
        <i class="fas fa-film fill-current mr-1"></i> Steins;gate
      </a>
    </li>
    <li class="mb-2">
      <a href="#" class="no-underline text-grey-light hover:text-white">
        <i class="fas fa-film fill-current mr-1"></i> Steins;gate 0
      </a>
    </li>
    <li class="mb-2">
      <a href="#" class="no-underline text-grey-light hover:text-white">
        <i class="fas fa-book fill-current mr-1"></i> Sword Art Online
      </a>
    </li>
    <li class="mb-2">
      <a href="#" class="no-underline text-grey-light hover:text-white">
        <i class="fas fa-film fill-current mr-1"></i> Love Live School Idol Project
      </a>
    </li>
  </ul>
</div>
