<div class="flex justify-between p-4">
  <div class="flex-auto">
    <h1 class="font-semibold text-xl leading-tight truncate">
      Notificaciones
    </h1>
  </div>
  <div class="opacity-25">
    <i class="far fa-bell fa-lg"></i>
  </div>
</div>

<ul class="list-reset border-t border-indigo-dark text-sm mt-4">
  <li class="cursor-pointer border-b border-indigo-dark hover:bg-indigo-dark truncate py-2 px-4">
    <i class="fas fa-eye mr-1"></i> @d8vjork ha empezado a seguirte
  </li>
  <li class="cursor-pointer border-b border-indigo-dark hover:bg-indigo-dark truncate py-2 px-4">
    <i class="fas fa-eye mr-1"></i> @gabrielpb1 ha empezado a seguirte
  </li>
  <li class="cursor-pointer border-b border-indigo-dark hover:bg-indigo-dark truncate py-2 px-4">
    <i class="fas fa-comment mr-1"></i> @d8vjork ha comentado tu publicación
  </li>
</ul>
