<div class="bg-indigo-dark text-white rounded shadow mb-3">
  <div class="flex justify-between p-4">
    <span class="text-lg">
      Progreso
    </span>
    <i class="fas fa-info"></i>
  </div>
  <div class="bg-white h-1 w-full">
    <div class="bg-white h-1"></div>
  </div>
  <ul class="flex flex-wrap justify-center list-reset text-indigo-darker p-4">
    <li class="cursor-pointer mr-2 mb-2">
      <i class="fas fa-trophy fa-lg"></i>
    </li>
    <li class="cursor-pointer mr-2 mb-2">
      <i class="fas fa-trophy fa-lg"></i>
    </li>
    <li class="cursor-pointer mr-2 mb-2">
      <i class="fas fa-trophy fa-lg"></i>
    </li>
    <li class="cursor-pointer mr-2 mb-2">
      <i class="fas fa-trophy fa-lg"></i>
    </li>
    <li class="cursor-pointer mr-2 mb-2">
      <i class="fas fa-trophy fa-lg"></i>
    </li>
    <li class="cursor-pointer mr-2 mb-2">
      <i class="fas fa-trophy fa-lg"></i>
    </li>
    <li class="cursor-pointer mr-2 mb-2">
      <i class="fas fa-trophy fa-lg"></i>
    </li>
    <li class="cursor-pointer mr-2 mb-2">
      <i class="fas fa-trophy fa-lg"></i>
    </li>
  </ul>
</div>