<div class="bg-indigo-light text-white py-8 mb-4">
  <div class="container mx-auto text-center">
    <h1>Acerca</h1>
  </div>
</div>
<div class="container mx-auto py-2 px-4">
  <p class="my-1">
    Este proyecto tiene comienzo en España, Murcia. Principalmente desarrollado por
    Rubén Robles (<a href="https://twitter.com/d8vjork" target="_blank">@d8vjork</a>),
    <strong>respaldado y ayudado por todos vosotros</strong>, la comunidad de Social-chan
    por ello que se dedica mucho tiempo en su desarrollo (aparte de una inversión económica),
    con el objetivo de <strong>hacer que la comunidad hispana tenga un buen servicio</strong>
    relacionado al anime, manga y la cultura japonesa.
  </p>
  <p class="my-1">
    Todo esto viendo que, sitios como Wocial (entre otros)
    han ido retirándose (acomodando a la comunidad con ciertas
    funciones tales como los grupos y los temas de discusión
    de estos), y mayormente tras el cierre de Anikku.
    <strong>Tras esto el proyecto fue tomando forma sobre
    Abril de 2016</strong>.
  </p>
  <p class="my-1">
    Después de crear una primera versión (algo más como un
    boceto rápido) la cuál estuvo basada en WordPress y en la
    que <strong>se debe el agradecimiento por la colaboración
    de varios usuarios los cuales estuvieron allí:</strong>
  </p>
  <p class="my-1">
    Negor, RukkasuRukki, kovak, davicho, kiski, luar y a la
    pequeña comunidad que estuvo en aquella etapa inicial del
    proyecto.
  </p>
  <p class="my-1">
    Ahora, sin embargo, <strong>el proyecto no deja de
    evolucionar</strong>. Por tanto se seguirán las mismas líneas
    de diseño del proyecto siguiendo con su anterior versión
    (cerrada en Noviembre de 2016).
  </p>
  <p class="my-1">
    Por último decir que... <em>"lo bueno se hace esperar"</em>.
  </p>
</div>