<div class="bg-indigo-light text-white py-8 mb-4">
  <div class="container mx-auto text-center">
    <h1>Política de cookies</h1>
  </div>
</div>
<div class="container mx-auto py-2 px-4">
  <p class="my-1">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui recusandae tenetur voluptate debitis,
    pariatur illo voluptates impedit, praesentium adipisci, et quidem obcaecati. Assumenda provident excepturi
    recusandae iusto nobis accusamus!
  </p>
  <p class="my-1">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui recusandae tenetur voluptate debitis,
    pariatur illo voluptates impedit, praesentium adipisci, et quidem obcaecati. Assumenda provident excepturi
    recusandae iusto nobis accusamus!
  </p>
  <p class="my-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo minus eveniet deserunt quam labore velit debitis fugit nihil. Natus, nesciunt harum. Expedita incidunt quod necessitatibus sunt voluptate optio at commodi.</p>
  <p class="my-1">Quibusdam dolorem voluptatibus recusandae explicabo voluptatem debitis numquam ipsum. Fugiat, dolorum enim? Aliquid mollitia illum dicta consequuntur, at illo asperiores inventore? Cupiditate, totam! Architecto, dolorum exercitationem consequuntur qui magnam fuga.</p>
  <p class="my-1">Harum, blanditiis amet iusto, temporibus necessitatibus velit recusandae a fuga nam fugiat beatae quam, eius aspernatur quidem aliquid. Cumque corporis aliquid possimus cum soluta perspiciatis similique omnis sit veritatis expedita.</p>
  <p class="my-1">Tenetur natus cum, ducimus impedit recusandae laborum animi ad molestias ea illum. Eaque, doloribus dolorum! Fugiat ullam ex, expedita eligendi eaque error laudantium. Debitis deserunt, ducimus recusandae voluptatum alias officiis?</p>
  <p class="my-1">Facere unde delectus tempore deleniti dignissimos, repellat sed iste facilis assumenda minima impedit itaque accusantium iure a rem earum excepturi et temporibus! Aperiam amet provident sint praesentium dolorum. Consequatur, tenetur.</p>
</div>