<div class="bg-indigo-light text-white py-8 mb-4">
  <div class="container mx-auto text-center">
    <h1>¡Suscríbete!</h1>
  </div>
</div>
<div class="container mx-auto py-2 px-4">
  <p class="leading-normal my-2">
    Con tu suscripción nos ayudamos mutuamente, por tanto, <strong>te ofrecemos
    el acceso a características de prueba (Social-chan Next)</strong> todavía
    no introducidas a Social-chan y te quitamos todo bloque de publicidad,
    todo esto y mucho más a cambio de aportanos tu granito de arena y
    ayudarnos con el mantenimiento de la plataforma.
  </p>

  <h3 class="text-indigo-darkest mt-6">
    Características en detalle
  </h3>

  <div class="overflow-y-scroll">
    <table class="w-full text-left table-collapse my-4">
      <thead>
        <tr>
          <th class="text-sm font-semibold text-grey-darker p-2 bg-grey-lightest">
            Característica
          </th>
          <th class="text-sm font-semibold text-grey-darker p-2 bg-grey-lightest">
            Descripción
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-2 border-t border-grey-light text-sm text-grey-darker whitespace-no-wrap lg:whitespace-normal">
            Social-chan Next
          </td>
          <td class="p-2 border-t border-grey-light text-sm text-grey-darker whitespace-no-wrap lg:whitespace-normal">
            Acceso a Social-chan Next, acceso a características beta (sin implementar en Social-chan).
          </td>
        </tr>
        <tr>
          <td class="p-2 border-t border-grey-light text-sm text-grey-darker whitespace-no-wrap lg:whitespace-normal">
            No más publi
          </td>
          <td class="p-2 border-t border-grey-light text-sm text-grey-darker whitespace-no-wrap lg:whitespace-normal">
            Para navegar por Social-chan sin bloques de publicidad.
          </td>
        </tr>
        <tr>
          <td class="p-2 border-t border-grey-light text-sm text-grey-darker whitespace-no-wrap lg:whitespace-normal">
            Clave API
          </td>
          <td class="p-2 border-t border-grey-light text-sm text-grey-darker whitespace-no-wrap lg:whitespace-normal">
            Clave con la que obtendrás datos y utilidades para desarrolladores,
            todas las cuales podrás ver en nuestro <a href="#" target="_blank">portal para desarrolladores</a>.
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <p class="leading-normal my-2">
    Todo esto y muchas más características las cuales se agregarán próximamente,
    por lo que lo mejor esta por venir y todo por el mismo precio, ¡siempre!
  </p>

  <button class="bg-indigo-dark w-full text-white border-b-4 border-indigo-darker rounded font-semibold px-2 py-3 mt-6">
    <i class="fas fa-gem fa-fw"></i> Adquirir suscripción
  </button>
</div>