<div class="container mx-auto px-4 mt-4">
  <div class="bg-white rounded rounded-t-lg overflow-hidden shadow max-w-xs my-3">
  	<img src="/img/landing/img02.jpg" class="w-full" />
    <div class="flex justify-center -mt-6">
      <img src="/img/socialchan.jpg" class="w-16 h-16 rounded-full border-solid border-white border-2 -mt-3">
    </div>
    <div class="text-center px-3 pb-6 pt-2">
      <h3 class="text-black font-normal font-sans">
        Social-chan
      </h3>
      <p class="mt-2 font-sans font-light text-sm text-grey-dark">
        Hello, i'm from another the other side!
      </p>
    </div>
  	<div class="flex justify-center pb-3 font-thin text-indigo-darkest">
      <div class="text-center mr-4 border-r pr-4">
        <h2 class="font-light">1K</h2>
        <span>Publicaciones</span>
      </div>
      <div class="text-center">
        <h2 class="font-light">821</h2>
        <span>Seguidores</span>
      </div>
  	</div>
  </div>
</div>