<div class="container mx-auto px-4 mt-4">
  <div class="flex flex-col lg:flex-row">
    <div class="w-1/4 pr-4 hidden lg:block">
      <div class="bg-white shadow rounded p-4 mb-3">
        <p class="text-lg text-indigo-darkest font-bold mb-2">
          <i class="fas fa-users"></i> Tus grupos
        </p>
        <ul class="flex list-reset my-3">
          <li>
            <a href="#">
              <img class="w-10 h-10 rounded-full mr-3" src="img/user_default.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="#">
              <img class="w-10 h-10 rounded-full mr-3" src="img/user_default.jpg" alt="">
            </a>
          </li>
        </ul>

        <button class="bg-indigo w-full text-white border-b-4 border-indigo-dark rounded font-semibold px-1 py-2">
          <i class="fab fa-font-awesome-flag fa-fw"></i>
          Fundar grupo
        </button>
      </div>
      <div class="bg-white shadow rounded p-4 mb-3">
        <p class="text-lg text-indigo-darkest font-bold mb-2">
          Filtrar por categorías
        </p>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          <i class="fas fa-film fa-fw"></i>
          Anime
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          <i class="fas fa-book fa-fw"></i>
          Manga
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          <i class="fas fa-headphones fa-fw"></i>
          Música
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          <i class="fas fa-comments fa-fw"></i>
          Comunidades
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          <i class="fas fa-language fa-fw"></i>
          Fansubs
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          <i class="fas fa-podcast fa-fw"></i>
          Radios
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          <i class="fas fa-coffee fa-fw"></i>
          Fuera de tema
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          <i class="fas fa-paw fa-fw"></i>
          Mascotas
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          <i class="fas fa-desktop fa-fw"></i>
          Tecnología
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          <i class="fas fa-paint-brush fa-fw"></i>
          Artistas
        </a>
        <a href="#" class="block no-underline bg-transparent hover:bg-indigo border border-indigo text-indigo hover:text-white py-1 px-2 mb-1">
          <i class="fas fa-gamepad fa-fw"></i>
          Juegos
        </a>
      </div>
    </div>
    <div class="w-full lg:w-3/4">
      <div class="flex flex-wrap bg-white shadow rounded p-4">
        <ul class="list-reset">
          <li class="flex items-center my-2">
            <img class="w-10 h-10 rounded-full mr-3" src="img/user_default.jpg" alt="">
            <span>
              <a href="#" class="no-underline text-indigo-dark">
                Social-chan
              </a>
              <button class="block bg-transparent hover:bg-red border border-red text-red hover:text-white text-sm font-semibold rounded px-2 py-1 mt-1">
                <i class="fas fa-user-times"></i>
                Abandonar
              </button>
            </span>
          </li>
          <li class="flex items-center my-2">
            <img class="w-10 h-10 rounded-full mr-3" src="img/user_default.jpg" alt="">
            <span>
              <a href="#" class="no-underline text-indigo-dark">
                LLSIT
              </a>
              <button class="block bg-transparent hover:bg-blue border border-blue text-blue hover:text-white text-sm font-semibold rounded px-2 py-1 mt-1">
                <i class="fas fa-user-plus"></i>
                Unirse
              </button>
            </span>
          </li>
          <li class="flex items-center my-2">
            <img class="w-10 h-10 rounded-full mr-3" src="img/user_default.jpg" alt="">
            <span>
              <a href="#" class="no-underline text-indigo-dark">
                Cafetería Albinas Neko-dev
              </a>
              <button class="block bg-transparent hover:bg-blue border border-blue text-blue hover:text-white text-sm font-semibold rounded px-2 py-1 mt-1">
                <i class="fas fa-user-plus"></i>
                Unirse
              </button>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>