<div class="container mx-auto px-4 mt-3">
  <div class="flex">
    <div class="w-1/4 pr-4">
      <div class="bg-white shadow rounded p-4 mb-3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Exercitationem illum mollitia culpa fuga nobis modi sit?
      </div>
    </div>
    <div class="w-3/4">
      <div class="bg-white shadow rounded p-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatibus tenetur neque fugiat accusantium quibusdam consequatur ullam provident ut tempora. Labore suscipit consectetur possimus doloremque dolorem illo, repellat laboriosam facilis.
      </div>
    </div>
  </div>
</div>