{{#swiper-container options=swiperOptions pagination=true vertical=true class="max-w-full h-screen swiper-container-inverse"}}
  {{#swiper-slide class="flex flex-col justify-center items-center h-full bg-indigo-light p-8"}}
    {{component 'signup-form' class="flex flex-wrap justify-center w-full max-w-md text-white"}}
    <ul class="absolute pin-b flex justify-around w-full list-reset px-8 mb-4">
      <li>
        <a href="https://dojo.moe" target="_blank" class="text-white">
          Dojo
        </a>
      </li>
      <li>
        {{#link-to 'page.subscribe' class="text-white"}}
          Suscripción
        {{/link-to}}
      </li>
      <li>
        <a href="https://devs.social-chan.com" target="_blank" class="text-white">
          Desarrolladores
        </a>
      </li>
      <li>
        {{#link-to 'page.policies' class="text-white"}}
          Condiciones
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'page.cookies' class="text-white"}}
          Cookies
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'page.contact' class="text-white"}}
          Contacto
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'page.about' class="text-white"}}
          Acerca
        {{/link-to}}
      </li>
    </ul>
  {{/swiper-slide}}
  {{#swiper-slide class="flex flex-col justify-center items-center h-full bg-teal-dark p-8"}}
    <div class="max-w-md text-white text-center">
      <img class="w-1/2 mb-8" src="/img/illustrations/undraw_floating.svg" alt="comunidad">
      <h2 class="font-sans font-semibold text-3xl mb-4">
        ¿Por qué debería registrarme?
      </h2>
      <p class="font-sans font-light text-xl">
        ¿Y por qué no? Tampoco te obligamos a hacerlo pero...
        ¡seguro que te gusta! Tan simple como la posibilidad
        de hablar en tiempo real, debatir u opinar sobre el
        anime que tú ves, el manga que tú lees o la música
        que tú escuchas.
      </p>
    </div>
  {{/swiper-slide}}
  {{#swiper-slide class="flex flex-col justify-center items-center h-full bg-purple-dark p-8"}}
    <div class="max-w-md text-white text-center">
      <img class="w-1/2 mb-8" src="/img/illustrations/undraw_movie_night.svg" alt="anime manga y musica">
      <h2 class="font-sans font-semibold text-3xl mb-4">
        ¿Red social? ¿Y qué más?
      </h2>
      <p class="font-sans font-light text-xl">
        También disponemos una base de datos con toda la
        información acerca de cualquier anime, manga y
        canción de tu opening o ending favorito. ¿No encuentras
        tu serie, manga o canción favorita? No te preocupes, puedes
        añadir hasta donde sepas de esta, el resto se ocupará de
        ir completándola.
      </p>
    </div>
  {{/swiper-slide}}
  {{#swiper-slide class="flex flex-col justify-center items-center h-full bg-green-dark p-8"}}
    <div class="max-w-md text-white text-center">
      <img class="w-1/2 mb-8" src="/img/illustrations/undraw_growing.svg" alt="creciendo con la comunidad">
      <h2 class="font-sans font-semibold text-3xl mb-4">
        Intentando crecer, ¡siempre!
      </h2>
      <p class="font-sans font-light text-xl mb-6">
        Teniendo en cuenta que Social-chan es una mezcla
        de varias redes sociales, si, como Twitter, Facebook o
        Instagram. Pero nunca intentamos quedarnos atrás, por
        ello siempre dejamos una colaboración abierta a todo
        usuario, como oyes, ¡para todos!.
      </p>

      <button class="block bg-transparent hover:bg-smoke-light text-2xl text-white rounded-full shadow py-3 px-6 mx-auto">
         <i class="fas fa-gem fa-fw fill-current"></i>
         Suscriptor
      </button>
    </div>
  {{/swiper-slide}}
  {{#swiper-slide class="flex flex-col justify-center items-center h-full bg-blue-dark p-8"}}
    <div class="max-w-md text-white text-center">
      <img class="w-1/2 mb-8" src="/img/illustrations/undraw_welcome.svg" alt="bienvenida a socialchan">
      <h2 class="font-sans font-semibold text-3xl mb-4">
        ¡Me has convencido!
      </h2>
      <p class="font-sans font-light text-xl mb-6">
        Eso no es todo, y solamente has abierto la ventana a
        una comunidad en continuo crecimiento. Por lo que, ya que has
        llegado hasta aquí te daremos un par de sorpresas más:
      </p>
      <div class="flex justify-center">
        <div class="flex items-center bg-blue-darker cursor-not-allowed py-2 px-4 mr-4">
          <i class="fab fa-google-play fa-2x fill-current mr-3"></i>
          <div class="text-left text-sm tracking-wide">
            Próximamente en
            <span class="block text-lg">Google Play</span>
          </div>
        </div>
        <div class="flex items-center bg-blue-darker cursor-not-allowed py-2 px-4 ml-4">
          <i class="fab fa-app-store fa-2x fill-current mr-3"></i>
          <div class="text-left text-sm tracking-wide">
            Próximamente en
            <span class="block text-lg">App Store</span>
          </div>
        </div>
      </div>
    </div>
  {{/swiper-slide}}
{{/swiper-container}}
