<div class="container mx-auto px-4 mt-4">
  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/4 mb-4 md:mb-0 md:pr-4">
      <div class="bg-white rounded w-full shadow select-none overflow-hidden p-4 mb-3">
        <div class="w-32 h-32 flex flex-col justify-center items-center cursor-pointer border-2 border-dashed border-grey-darker mx-auto rounded-full">
          <i class="self-center text-grey-darker fill-current fas fa-upload"></i>
          <p class="self-center text-grey-darker">Subir avatar</p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="bg-white rounded w-full shadow select-none overflow-hidden">
          {{#link-to 'settings.index' class="block group hover:bg-blue p-4 border-b"}}
            <p class="font-semibold text-lg mb-1 text-black group-hover:text-white">
              General
            </p>
            <p class="text-grey-darker group-hover:text-white">
              Ajustes generales, personaliza tu cuenta.
            </p>
          {{/link-to}}
          {{#link-to 'settings.privacy' class="block group hover:bg-blue p-4 border-b"}}
            <p class="font-semibold text-lg mb-1 text-black group-hover:text-white">
              Privacidad
            </p>
            <p class="text-grey-darker group-hover:text-white">
              Controla lo que pueden o no ver tus seguidores.
            </p>
          {{/link-to}}
          {{#link-to 'settings.removal' class="block group hover:bg-red p-4"}}
            <p class="font-semibold text-lg mb-1 text-black group-hover:text-white">
              Eliminar
            </p>
            <p class="text-grey-darker group-hover:text-white">
              Eliminar cuenta sin dejar rastro alguno en el sitio.
            </p>
          {{/link-to}}
        </div>
      </div>
    </div>
    <div class="w-full md:w-3/4 bg-white rounded shadow p-4">
      {{outlet}}
    </div>
  </div>
</div>